# macos
*.DS_Store

# Out & tmp directories
tmp/
**/tmp/

out/
**/out/

# Python
__pycache__/
**/__pycache__/

# Notebooks
**/.ipynb_checkpoints/
.ipynb_checkpoints/

# IDEs
.idea/
**/.idea

## VSCODE
.vscode/
**/.vscode

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docs
docs/_build/
